<%= @content.title %> - <%= @content.description %>
<%= link_to "Next Event", events_show_path(id: @content.id + 1), remote: true %>

<%= react_component('TestTags') %>
<script>ReactRailsUJS.mountComponents()</script>